@tailwind base;
@tailwind components;
@tailwind utilities;

.select2-container--default .select2-results__option {
    color: #0f172a;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #ffffff;
}
